<h4 class="text-center" *ngIf="!categories">
  <span class="glyphicon glyphicon-refresh spin"></span> Loading Categories
</h4>

<div class="panel panel-primary">
  <div class="panel-heading">
    Categories Managment
  </div>
  <div class="panel-body" *ngIf="categories && categories.length">
    <div class="table-responsive">
      <table class="table table-condensed table-hover table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Created</th>
            <th>Updated</th>
            <th>Category Name</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let category of categories">
            <td>{{ category.id }}</td>
            <td>{{ category.created_at | date:'medium' }}</td>
            <td>{{ category.updated_at | date:'medium' }}</td>
            <td>{{ category.name }}</td>
            <td><a class="btn btn-link" [routerLink]="['/category', category.id]"><span class="glyphicon glyphicon-pencil"></span> edit</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="panel-footer">
    <a type="button" class="btn btn-sm btn-primary" [routerLink]="['/category', '-1']"><span class="glyphicon glyphicon-plus"></span> add new</a>
  </div>
</div>