/* You can add global styles to this file, and also import other style files */
.glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
.spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.panel {
  border-color: #af865c;
}

.panel-primary > .panel-heading {
  background: #af865c ;
  border-color: #af865c;
  font-weight: bold;
}

.panel-primary > .panel-footer {
   border-top-color: none;
}

.panel-footer > .btn-primary, .panel-footer > .btn-primary:active {
   background: #af865c;
   border-color: #af865c;
}

span.di {
    color:gray;
    background: none;
}

tbody>tr>td>a.btn-link, tbody>tr>td>a.btn-link:hover  {
   color: #af865c;
}

div.navbar-header>a.navbar-brand{
  color: #af865c;
}

ul.dropdown-menu>li>a, ul.nav.navbar-nav>li>a {
   color: #000;
}

ul.dropdown-menu>li>a:hover, div.navbar-header>a.navbar-brand:hover, ul.nav.navbar-nav>li>a:hover {
   color: #af865c;
}

ul.dropdown-menu>li>a:focus, div.navbar-header>a.navbar-brand:focus, ul.nav.navbar-nav>li>a:focus {
   color: #af865c;
}
