.idea/
src/storage/*
src/vendor
src/.env
src/images
src/magento/app/code/community/Phoenix/Moneybookers/
src/magento/app/code/community/Cm/RedisSession/
src/magento/app/design/adminhtml/default/default/
src/magento/app/design/frontend/base/
src/magento/app/design/frontend/default/blank/
src/magento/app/design/frontend/default/default/
src/magento/app/design/frontend/default/iphone/
src/magento/app/design/frontend/default/modern/
src/magento/app/design/install/
src/magento/app/etc/modules/Mage_*.xml
src/magento/app/etc/modules/Phoenix_Moneybookers.xml
src/magento/app/etc/modules/Cm_RedisSession.xml
src/magento/app/etc/config.xml
src/magento/app/etc/local.xml.additional
src/magento/app/etc/local.xml.template
src/magento/app/etc/local.xml
src/magento/app/.htaccess
src/magento/app/bootstrap.php
src/magento/app/locale/en_US/
src/magento/app/Mage.php
src/magento/cron.php
src/magento/cron.sh
src/magento/dev/.htaccess
src/magento/dev/tests/functional/
src/magento/downloader/
src/magento/errors/
src/magento/favicon.ico
src/magento/get.php
src/magento/includes/
src/magento/index.php
src/magento/index.php.sample
src/magento/install.php
src/magento/js/blank.html
src/magento/js/calendar/
src/magento/js/extjs/
src/magento/js/flash/
src/magento/js/index.php
src/magento/js/jscolor/
src/magento/js/lib/
src/magento/js/mage/
src/magento/js/prototype/
src/magento/js/scriptaculous/
src/magento/js/spacer.gif
src/magento/js/tiny_mce/
src/magento/js/varien/
src/magento/lib/3Dsecure/
src/magento/lib/flex/
src/magento/lib/.htaccess
src/magento/lib/LinLibertineFont/
src/magento/lib/PEAR/
src/magento/lib/Pelago/
src/magento/lib/phpseclib/
src/magento/lib/Cm/
src/magento/lib/Credis/
src/magento/lib/Magento/
src/magento/LICENSE_AFL.txt
src/magento/LICENSE.html
src/magento/LICENSE.txt
src/magento/mage
src/magento/media/
src/magento/api.php
src/magento/php.ini.sample
src/magento/RELEASE_NOTES.txt
src/magento/shell/.htaccess
src/magento/shell/abstract.php
src/magento/shell/compiler.php
src/magento/shell/indexer.php
src/magento/shell/log.php
src/magento/skin/adminhtml/default/default/
src/magento/skin/frontend/base/
src/magento/skin/frontend/rwd/
src/magento/skin/frontend/default/blank/
src/magento/skin/frontend/default/blue/
src/magento/skin/frontend/default/default/
src/magento/skin/frontend/default/french/
src/magento/skin/frontend/default/german/
src/magento/skin/frontend/default/iphone/
src/magento/skin/frontend/default/modern/
src/magento/skin/install/
src/magento/var/