.idea/
src/storage
src/vendor
src/.env
src/images
src/public/images
src/magento/app/etc/local.xml
src/magento/var/session
src/magento/var/report
src/magento/var/cache
src/magento/media
src/magento/var/log
src/magento/dev
src/magento/downloader
src/storage/import
production-backup.sh
staging-backup.sh
staging-download.sh