<h4 class="text-center" *ngIf="!manufacturer">
    <span class="glyphicon glyphicon-refresh spin"></span> Loading Manufacturer Details
</h4>

<label *ngIf="manufacturer">{{ id === '-1' ? 'New' : 'Edit' }} Manufacturer Entry</label>

<form class="form-horizontal" [formGroup]="manufacturerForm" (ngSubmit)="onSubmit($event)" *ngIf="manufacturer">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Manufacturer Details
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-xs-3 control-label">Name</label>
                <div class="col-xs-6">
                    <input type="text" class="form-control" formControlName="name" value="{{ manufacturer.name }}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">Image URL</label>
                <div class="col-xs-6">
                    <input type="text" class="form-control" id="image_url" value="{{ manufacturer.image_url }}"
                        disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">Featured</label>
                <div class="col-xs-6">
                    <input type="checkbox" formControlName="featured" value="{{ manufacturer.featured }}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">Select Image</label>
                <div class="col-xs-6">
                    <input type="file" placeholder="Choose File" accept="image/*" id="image_url"
                        (change)="changeListener($event)" />
                </div>
                <div class="col-xs-6">
                    <img class="img img-responsive" [src]='manufacturer.image_url'>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <a class="btn btn-default" routerLink="/manufacturers"><span
                    class="glyphicon glyphicon-chevron-left"></span>back</a>
            <div class="pull-right">
                <span class="glyphicon glyphicon-refresh spin" *ngIf="disabled"></span>
                <button type="submit" class="btn btn-primary" [disabled]='disabled'> <span
                        class="glyphicon glyphicon-ok"></span> save</button>
                <button type="button" class="btn btn-danger" (click)="deleteManufacturer(manufacturer.id)"
                    *ngIf="id != -1" [disabled]='disabled'><span class="glyphicon glyphicon-remove"></span>
                    delete</button>
            </div>
        </div>
    </div>
</form>

<div class="panel panel-primary" *ngIf="manufacturer">
    <div class="panel-heading">Manufacturer References ({{reverseBrandreferences.length}})</div>
    <div class="panel-body">
        <div class="container">
            <div class="col-sm-6">
                <form action="" class="form" [formGroup]="brandreferenceForm" autocomplete="off"
                    (ngSubmit)="onSubmitBrandReference($event)">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" name="title" class="form-control" formControlName="title">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" name="description" class="form-control" formControlName="description">
                    </div>
                    <div class="form-group">
                        <label for="category_id">Category</label>
                        <select name="category_id" class="form-control" formControlName="category_id">
                            <option [value]="null">None</option>
                            <option [value]="category.id" *ngFor="let category of categories">{{ category.name }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="image">Image</label>
                        <input type="file" name="image" (change)="onFileChange($event)" formControlName="image">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" [disabled]="progress.brandreference.creating">
                            <span class="glyphicon glyphicon-ok"></span> save
                        </button>
                        <button type="reset" class="btn btn-default" [disabled]="progress.brandreference.creating">
                            <span class="glyphicon glyphicon-remove"></span> reset</button>
                    </div>
                </form>
            </div>
            <div class="col-sm-6">
                <div *ngFor="let br of reverseBrandreferences" class="brandreference-list-item">
                    <h3>{{br.title}}</h3>
                    <p>{{br.description}}</p>
                    <div>
                        <img src="{{domain}}images{{br.thumbnail_url}}" class="brandreference-list-item-image">
                    </div>
                    <p>
                        <a class="btn btn-default" target="_blank" href="{{domain}}images{{br.image_url}}"><span
                                class="glyphicon glyphicon-eye-open"></span> view full
                            size</a>
                        <button class="btn btn-danger" (click)="deleteBrandReference(br)"
                            [disabled]="progress.brandreference.deleteMap[br.id]"><span
                                class="glyphicon glyphicon-remove"></span> delete</button>
                    </p>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
