<h4 class="text-center" *ngIf="!fieldgroups">
  <span class="glyphicon glyphicon-refresh spin"></span> Loading Fieldgroups
</h4>

<div class="panel panel-primary">
  <div class="panel-heading">
    Fieldgroups Managment
  </div>
  <div class="panel-body" *ngIf="fieldgroups && fieldgroups.length">
    <div class="table-responsive">
      <table class="table table-condensed table-hover table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Created</th>
            <th>Updated</th>
            <th>Name</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let fieldgroup of fieldgroups">
            <td>{{ fieldgroup.id }}</td>
            <td>{{ fieldgroup.created_at | date:'medium' }}</td>
            <td>{{ fieldgroup.updated_at | date:'medium' }}</td>
            <td>{{ fieldgroup.name }}</td>
            <td><a class="btn btn-link" [routerLink]="['/fieldgroup', fieldgroup.id]"><span class="glyphicon glyphicon-pencil"></span> edit</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="panel-footer">
    <a type="button" class="btn btn-sm btn-primary" [routerLink]="['/fieldgroup', '-1']"><span class="glyphicon glyphicon-plus"></span> add new</a>
  </div>
</div>